<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Tài Xỉu Controller</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            text-align: center;
        }

        .svg-icon {
            width: 20px;
            height: 20px;
        }

 /* Basic body styling for scrollable content */
        body {
            margin: 0;
            padding: 0;
        }

        /* Scroll Buttons Styling */
        .reload-btn {
            position: fixed;
            right: 20px;
            padding: 15px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            cursor: pointer;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s ease, opacity 0.3s ease;
            bottom: 140px;
        }

        /* Scroll Buttons Styling */
        .scroll-btn {
            position: fixed;
            right: 20px;
            padding: 15px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            cursor: pointer;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s ease, opacity 0.3s ease;
        }

        /* Position for Scroll Up Button */
        .scroll-up {
            bottom: 80px; /* 80px to separate from the scroll-down button */
        }

        /* Position for Scroll Down Button */
        .scroll-down {
            bottom: 80px;
        }

        /* Hover Effect */
        .scroll-btn:hover {
            background-color: #0056b3;
        }

        /* Hide both buttons initially */
        .scroll-btn.hidden {
            opacity: 0;
            visibility: hidden;
        }

    </style>
    <!-- Favicon-->
    <meta charset="UTF-8">
    <title>Control Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Tài Xỉu Controller</a>
    </div>
</nav>
<!-- Page header with logo and tagline-->

<!-- Page content-->
<div class="container py-2">
    <div class="row">
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header" th:classappend="${initValue1.serverRunning} ? 'bg-info' : 'bg-secondary'"><h1
                        class="col-6">SERVER 1</h1></div>
                <div class="card-body">
                    <div class="row">
                        <form action="/updateInitValue1" class="row" th:object="${initValue1}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="col-sm-6 p-1">
                                <label>Server No.</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{serverNo}" class="form-control" disabled>
                                        <option value="1">Server 1</option>
                                        <option value="2">Server 2</option>
                                        <option value="3">Server 3</option>
                                        <option value="4">Server 4</option>
                                        <option value="5">Server 5</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Status</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{serverRunning}" class="form-control" disabled>
                                        <option value="0">Stopped</option>
                                        <option value="1">Running</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Base Amount</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betBase}" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet Point</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betPoint}" class="form-control">
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Max Lose Number</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{maxLoseNum}" class="form-control">
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet In</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betIn}" class="form-control">
                                        <option value="tai">Tài</option>
                                        <option value="xiu">Xỉu</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet Type</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betType}" class="form-control">
                                        <option value="1">Constantly</option>
                                        <option value="2">Wait And Best</option>
                                        <option value="3">Follow Result</option>
                                        <option value="5">Pause</option>
                                        <option value="0">Exit Program</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Max Round</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{maxRound}" class="form-control">
                                        <option value="3">3 Round</option>
                                        <option value="5">5 Round</option>
                                        <option value="10">10 Round</option>
                                        <option value="20">20 Round</option>
                                        <option value="30">30 Round</option>
                                        <option value="50">50 Round</option>
                                        <option value="100">100 Round</option>
                                        <option value="300">300 Round</option>
                                        <option value="500">500 Round</option>
                                        <option value="800">800 Round</option>
                                        <option value="1000">1000 Round</option>
                                        <option value="1500">1500 Round</option>
                                        <option value="2000">2000 Round</option>
                                        <option value="3000">3000 Round</option>
                                        <option value="5000">5000 Round</option>
                                    </select>
                                </label>
                            </div>

                            <div class="col-sm-6 pt-10">
                                <button type="submit" class="btn btn-primary btn-lg">Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header" th:classappend="${initValue2.serverRunning} ? 'bg-info' : 'bg-secondary'"><h1
                        class="col-6">SERVER 2</h1></div>
                <div class="card-body">
                    <div class="row">
                        <form action="/updateInitValue2" class="row" th:object="${initValue2}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="col-sm-6 p-1">
                                <label>Server No.</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{serverNo}" class="form-control" disabled>
                                        <option value="1">Server 1</option>
                                        <option value="2">Server 2</option>
                                        <option value="3">Server 3</option>
                                        <option value="4">Server 4</option>
                                        <option value="5">Server 5</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Status</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{serverRunning}" class="form-control" disabled>
                                        <option value="0">Stopped</option>
                                        <option value="1">Running</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Base Amount</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betBase}" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet Point</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betPoint}" class="form-control">
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Max Lose Number</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{maxLoseNum}" class="form-control">
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet In</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betIn}" class="form-control">
                                        <option value="tai">Tài</option>
                                        <option value="xiu">Xỉu</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet Type</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betType}" class="form-control">
                                        <option value="1">Constantly</option>
                                        <option value="2">Wait And Best</option>
                                        <option value="3">Follow Result</option>
                                        <option value="5">Pause</option>
                                        <option value="0">Exit Program</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Max Round</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{maxRound}" class="form-control">
                                        <option value="3">3 Round</option>
                                        <option value="5">5 Round</option>
                                        <option value="10">10 Round</option>
                                        <option value="20">20 Round</option>
                                        <option value="30">30 Round</option>
                                        <option value="50">50 Round</option>
                                        <option value="100">100 Round</option>
                                        <option value="300">300 Round</option>
                                        <option value="500">500 Round</option>
                                        <option value="800">800 Round</option>
                                        <option value="1000">1000 Round</option>
                                        <option value="1500">1500 Round</option>
                                        <option value="2000">2000 Round</option>
                                        <option value="3000">3000 Round</option>
                                        <option value="5000">5000 Round</option>
                                    </select>
                                </label>
                            </div>

                            <div class="col-sm-6 pt-10">
                                <button type="submit" class="btn btn-primary btn-lg">Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header" th:classappend="${initValue3.serverRunning} ? 'bg-info' : 'bg-secondary'"><h1
                        class="col-6">SERVER 3</h1></div>
                <div class="card-body">
                    <div class="row">
                        <form action="/updateInitValue3" class="row" th:object="${initValue3}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="col-sm-6 p-1">
                                <label>Server No.</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{serverNo}" class="form-control" disabled>
                                        <option value="1">Server 1</option>
                                        <option value="2">Server 2</option>
                                        <option value="3">Server 3</option>
                                        <option value="4">Server 4</option>
                                        <option value="5">Server 5</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Status</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{serverRunning}" class="form-control" disabled>
                                        <option value="0">Stopped</option>
                                        <option value="1">Running</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Base Amount</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betBase}" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet Point</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betPoint}" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Max Lose Number</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{maxLoseNum}" class="form-control">
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet In</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betIn}" class="form-control">
                                        <option value="tai">Tài</option>
                                        <option value="xiu">Xỉu</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Bet Type</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{betType}" class="form-control">
                                        <option value="1">Constantly</option>
                                        <option value="2">Wait And Best</option>
                                        <option value="3">Follow Result</option>
                                        <option value="5">Pause</option>
                                        <option value="0">Exit Program</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label>Max Round</label>
                            </div>
                            <div class="col-sm-6 p-1">
                                <label class="w-100">
                                    <select th:field="*{maxRound}" class="form-control">
                                        <option value="3">3 Round</option>
                                        <option value="5">5 Round</option>
                                        <option value="10">10 Round</option>
                                        <option value="20">20 Round</option>
                                        <option value="30">30 Round</option>
                                        <option value="50">50 Round</option>
                                        <option value="100">100 Round</option>
                                        <option value="300">300 Round</option>
                                        <option value="500">500 Round</option>
                                        <option value="800">800 Round</option>
                                        <option value="1000">1000 Round</option>
                                        <option value="1500">1500 Round</option>
                                        <option value="2000">2000 Round</option>
                                        <option value="3000">3000 Round</option>
                                        <option value="5000">5000 Round</option>
                                    </select>
                                </label>
                            </div>

                            <div class="col-sm-6 pt-10">
                                <button type="submit" class="btn btn-primary btn-lg">Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form class="mb-5" action="/" method="POST" id="selectDateForm">
            <div class="row">
                <div class="col-1 p-2">
                    <p>
                        Tài:
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512" width="5" height="5">
                            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
                        </svg>
                    </p>
                </div>
                <div class="col-1 p-2">
                    <p>
                        Xỉu:
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
                        </svg>
                    </p>
                </div>

                <!-- Date Input -->
                <div class="col-2 p-2">
                    <input
                            th:value="${selectedDate}"
                            type="date"
                            id="date"
                            name="date"
                            class="form-control"
                            style="width: min-content;"
                            required/>
                </div>
                <!-- Start Time Input -->
                <div class="col-2 p-2">
                    <input
                            th:value="${startTime}"
                            type="time"
                            id="startTime"
                            name="startTime"
                            class="form-control"
                            style="width: min-content;"/>
                </div>
                <!-- End Time Input -->
                <div class="col-2 p-2">
                    <input
                            th:value="${endTime}"
                            type="time"
                            id="endTime"
                            name="endTime"
                            class="form-control"
                            style="width: min-content;"/>
                </div>
                <div class="col-1 p-2">
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <div class="col-3 p-2"></div>
                <div class="col-12 pt-5">
                    <b>Total: <span th:text="${overview.totalNumber}"></span></b>&nbsp;&nbsp;&nbsp;
                    <b>TotalWin: <span th:text="${overview.totalWinAmount}"></span></b>&nbsp;&nbsp;
                    <b>TotalBet: <span th:text="${overview.totalBetAmount}"></span></b>&nbsp;&nbsp;
                    <b>Win-NET: <span th:text="${overview.winAmount}"></span></b>&nbsp;&nbsp;
                    <b>Biggest: <span th:text="${overview.biggestAmount}"></span></b>&nbsp;&nbsp;
                    <b class="m-0 text-center">Over&nbsp;<span th:text="${overview.overByNumber}"></span>:&nbsp;&nbsp;
                        <span th:text="${overview.outOfCoverNumber}"></span>&nbsp;Bệt&nbsp;---
                        <span th:text="${overview.changeConstantlyNumber}"></span>&nbsp;Bẻ</b>&nbsp;&nbsp;
                </div>
            </div>
        </form>
        <table class="table table-bordered">
            <tbody>
            <tr th:if="${tableList != null }" th:each="table : ${tableList}" class="m-2">
                <td th:if="${table != null }" th:each="column : ${table}" style="height: 150px; width: 30px">
                    <span th:each="cell : ${column}">
                        <svg th:if="${cell.getBetResult == 'tai'}" class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
                        </svg>
                        <svg th:if="${cell.getBetResult == 'xiu'}" class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
                        </svg>
                        <svg th:if="${cell.getBetResult == 'can_not_detected'}" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path d="M448 256c0-106-86-192-192-192l0 384c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
                        </svg>
                    </span>
                </td>
            </tr>
            <tr th:if="${tableList.size() == 0 }" class="m-2">
                NO DATA TO SHOW!
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Footer-->
<footer class="py-2 my-2 bg-dark" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Tài Xỉu Master</p>
        <div class="col-12">
            <b class="m-0 text-center text-white">Total: <span th:text="${overview.totalNumber}"></span></b>&nbsp;&nbsp;&nbsp;
            <b class="m-0 text-center text-white">TotalWin: <span th:text="${overview.totalWinAmount}"></span></b>&nbsp;&nbsp;
            <b class="m-0 text-center text-white">TotalBet: <span th:text="${overview.totalBetAmount}"></span></b>&nbsp;&nbsp;
            <b class="m-0 text-center text-white">Win-NET: <span th:text="${overview.winAmount}"></span></b>&nbsp;&nbsp;
            <b class="m-0 text-center text-white">Biggest: <span th:text="${overview.biggestAmount}"></span></b>&nbsp;&nbsp;
            <b class="m-0 text-center text-white">Over&nbsp;<span th:text="${overview.overByNumber}"></span>:&nbsp;&nbsp;
                <span th:text="${overview.outOfCoverNumber}"></span>&nbsp;Bệt&nbsp;---
                <span th:text="${overview.changeConstantlyNumber}"></span>&nbsp;Bẻ</b>&nbsp;&nbsp;
        </div>
    </div>
</footer>
<!--Reload button-->
<form action="/" class="hidden">
    <button type="submit" class="scroll-btn reload-btn">Reload</button>
</form>
<!-- Scroll Up Button -->
<button class="scroll-btn scroll-up hidden" id="scrollUpBtn">&#8593;</button>

<!-- Scroll Down Button -->
<button class="scroll-btn scroll-down" id="scrollDownBtn">&#8595;</button>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
        const scrollUpBtn = document.getElementById('scrollUpBtn');
        const scrollDownBtn = document.getElementById('scrollDownBtn');

        // Show or hide the Scroll Up button based on scroll position
        window.addEventListener('scroll', () => {
            if (window.scrollY > 300) {
                scrollUpBtn.classList.remove('hidden');
                scrollDownBtn.classList.add('hidden');
            } else {
                scrollUpBtn.classList.add('hidden');
                scrollDownBtn.classList.remove('hidden');
            }
        });

        // Scroll to the top of the page when the Scroll Up button is clicked
        scrollUpBtn.addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });

        // Scroll to the bottom of the page when the Scroll Down button is clicked
        scrollDownBtn.addEventListener('click', () => {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
        });

</script>
<!-- Core theme JS-->
<script>
<!--  window.onload = function() {-->
<!--    const table = document.querySelector('#footer');-->
<!--    if (table) {-->
<!--      table.scrollIntoView({ behavior: 'smooth' });-->
<!--    }-->
<!--  };-->

</script>
</body>
</html>
